/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/





@media screen and (max-width: 768px){
    /* first focus on navbar */
    .nav{
        display: flex;
        background-color: #540B51;
        justify-content: space-between;
        align-items: center;
    }
    .navbar{
        display: flex;
        background-color: #540B51;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    #navList{
        content-visibility:hidden;
    }

    header{
        background-color: #540B51;
        
    }

    .navButtons  button{
        background-color: #540B51;
        border: none;
        
    }
    .navButtons{
        margin-top: 20px;
    }
    
    .navbar > img{
        margin-left: 10px;
        height: 50px;
        width: 200px;
        
    }

    #headerDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #headerDiv h1{
        margin: 0;
        text-align: center;
        color: white;
        width: 300px;
        scale: 130%;
        margin-top: 45px;
    }

    #headerDiv div{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 90%;
        align-items: center;
    }
    #headerDiv button{
        width: unset;
        padding: 10px 20px;
        display: inline-block;
    }

    #headerDiv p{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: large;
        color: white;
    }
    .signup-email {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: #540B51;
        border: 2px solid #540B51;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
    .signup-email:hover {
        background-color: #F0F0F0;
    }

    #googleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4285F4;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 90%;
        max-width: 300px;
        margin: 10px 0;
        margin-bottom: 10px;
    }
    #orangeText{
        color: #ECB12F;
    }

    #googleButton img {
        margin-right: 10px; 
        width: 20px; 
        height: 20px; 
        background-color: white;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .logos {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        flex-wrap: wrap;
        background-color: #F3EAE2;
        justify-content: center; 
        gap: 20px;
    }
    
    #logoSection {
        background-color: #F3EAE2;
    }
    
    #logoSection > p {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: x-large;
    }
    
    .logos img {
        max-width: 120px; 
        max-height: 120px;
        object-fit: contain; 
    }
    
    #mainBod {
        text-align: center;
        padding: 20px;
    }
    
    #mainBod h3 {
        color: #540B51;
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    #mainBod p {
        font-size: 18px;
        color: #191817;
        margin-bottom: 20px;
    }
    
    #mainBod ul {
        list-style-type: none;
        padding: 0;
    }
    
    #mainBod ul li {
        margin-bottom: 20px;
    }
    
    #mainBod ul li p {
        margin: 5px 0;
    }
    
    #mainBod ul li span {
        font-size: 48px;
        color: #540B51;
        display: block;
    }
    
    #mainBod sup {
        font-size: 12px;
    }
    
    #mainBod p sup {
        font-size: 18px;
    }
    
    #mainBod p:last-child {
        font-size: 15px;
        color: #454245;
        margin-top: 20px;
    }
    
    #welcomeSection {
        text-align: center;
        margin: 40px 0;
        background-color: #540B51;
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 10px;
    }
    
    #welcomeSection h3 {
        font-size: 24px;
        color: white;
        margin-bottom: 20px;
    }
    
    #tryForFree{
        background-color: white;
        color: #540B51;
        padding: 10px 50px;
        font-size: 16px;
        margin: 5px;
        border-radius: 5px;
        border-color: white;
        margin-left: 15px;
        margin-right: 15px;
    }

    #talkToSales{
        background-color: #540B51;
        color: #ffffff;
        padding: 10px 50px;
        font-size: 16px;
        margin: 5px;
        border-radius: 5px;
        border-color: white;
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
    

    #image1{

        scale:40%;
    }
    #image2{
        scale:60%;
    }
    #image3{
        scale: 50%;
    }
    #image4{
        width: 75px;
        height: 75px;
    }
    #image5{
        scale:50%;
    }
    #image6{
        scale:50%;
    }

    #screenshotDiv{
        display:flex;
        flex-direction: column;
        overflow: hidden;
    }

    #screenshotDiv img{
        width: 150%;
        height: 150%;

        /* position: absolute; */

    }


    #footerList{
        list-style-type: none;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #footerList > li:nth-last-child(2)::before{
        content: url('../images/icon-region.png');
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    #footerList > li:last-child::before{
        content: url('../images/icon-download.png'); 
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    #logoList{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 25px;
    }

    #copyrights{
        text-align: center;
    }
    
}


@media screen and (min-width: 768px) and (max-width: 1024px){
    .nav{
        display: flex;
        background-color: #540B51;
        justify-content: space-between;
        align-items: center;
    }
    .navbar{
        display: flex;
        background-color: #540B51;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    #navList{
        content-visibility:hidden;
    }

    header{
        background-color: #540B51;
        
    }

    .navButtons  button{
        background-color: #540B51;
        border: none;
        
    }
    .navButtons{
        margin-top: 20px;
    }
    
    .navbar > img{
        margin-left: 30px;
        height: 25px;
        width: 100px;
        
    }

    #headerDiv {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-wrap:wrap;

    }

    #headerDiv h1{
        margin: 0;
        font-size: 40px;
        text-align: left;
        color: white;
        width: 300px;
        scale: 130%;
        margin-top: 60px;
        margin-left: 60px;
        background-image: url(../images/background-singup.png);
        background-size: 700px;
    }

    #headerDiv div{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 90%;
        align-items:start;
        gap: 20px;
    }
    #headerDiv button{
        width: unset;
        padding: 10px 20px;
        display: inline-block;
        margin-left: 30px;
    }

    #headerDiv p{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: large;
        color: white;
        align-self: start;
        margin-left: 30px;
    }
    .signup-email {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: #540B51;
        border: 2px solid #540B51;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
    .signup-email:hover {
        background-color: #F0F0F0;
    }

    #googleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4285F4;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 90%;
        max-width: 300px;
        margin: 10px 0;
        margin-bottom: 10px;
    }
    #orangeText{
        color: #ECB12F;
    }

    #googleButton img {
        margin-right: 10px; 
        width: 20px; 
        height: 20px; 
        background-color: white;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .logos {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        flex-wrap: wrap;
        background-color: #F3EAE2;
        justify-content: center; 
        gap: 20px;
    }
    
    #logoSection {
        background-color: #F3EAE2;
    }
    
    #logoSection > p {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: x-large;
    }
    
    .logos img {
        max-width: 120px; 
        max-height: 120px;
        object-fit: contain; 
    }
    
    #mainBod {
        text-align: center;
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex: 50%;
    }
    
    #mainBod h3 {
        color: #540B51;
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    #mainBod p {
        font-size: 18px;
        color: #191817;
        margin-bottom: 20px;
    }
    
    #mainBod ul {
        list-style-type: none;
        padding: 0;
    }
    
    #mainBod ul li {
        margin-bottom: 20px;
    }
    
    #mainBod ul li p {
        margin: 5px 0;
    }
    
    #mainBod ul li span {
        font-size: 48px;
        color: #540B51;
        display: block;
    }
    
    #mainBod sup {
        font-size: 12px;
    }
    
    #mainBod p sup {
        font-size: 18px;
    }
    
    #mainBod p:last-child {
        font-size: 15px;
        color: #454245;
        margin-top: 20px;
    }
    
    #welcomeSection {
        text-align: center;
        margin: 40px 0;
        background-color: #540B51;
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 10px;
    }
    
    #welcomeSection h3 {
        font-size: 24px;
        color: white;
        margin-bottom: 20px;
    }
    
    #tryForFree{
        background-color: white;
        color: #540B51;
        padding: 10px 50px;
        font-size: 16px;
        margin: 5px;
        border-radius: 5px;
        border-color: white;
        margin-left: 85px;
        margin-right: 85px;
    }

    #talkToSales{
        background-color: #540B51;
        color: #ffffff;
        padding: 10px 50px;
        font-size: 16px;
        margin: 5px;
        border-radius: 5px;
        border-color: white;
        margin-bottom: 30px;
        margin-left: 85px;
        margin-right: 85px;
    }
    

    #image1{

        scale:40%;
    }
    #image2{
        scale:60%;
    }
    #image3{
        scale: 50%;
    }
    #image4{
        width: 75px;
        height: 75px;
    }
    #image5{
        scale:50%;
    }
    #image6{
        scale:50%;
    }

    #screenshotDiv{
        display:flex;
        flex-direction: column;
        overflow: hidden;
        align-items: end;
    }

    #screenshotDiv img{
        width: 60%;
        height: 60%;

        /* position: absolute; */

    }


    #footerList{
        list-style-type: none;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }
    #footerList > li:nth-last-child(2)::before{
        content: url('../images/icon-region.png');
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    #footerList > li:last-child::before{
        content: url('../images/icon-download.png'); 
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    #logoList{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: 25px;
        gap: 100px;
    }

    #copyrights{
        text-align: center;
    }

}